{
    "extension": [".ts"],
    "include": ["packages/**/src/**/*.ts", "lib/**/*.js"],
    "exclude": [
        "**/node_modules/**",
        "**/tests/**",
        "**/coverage/**",
        "**/*.d.ts",
        "**/*.spec.ts",
        "packages/teams-ai/src/index.ts",
        "packages/teams-ai/src/**/index.ts"
    ],
    "reporter": ["html", "text"],
    "all": true,
    "cache": true
}
