{
    "extension": [".ts"],
    "include": ["packages/**/src/**/*.ts", "lib/**/*.js"],
    "exclude": [
        "**/node_modules/**",
        "**/testing/**",
        "**/coverage/**",
        "**/*.d.ts",
        "**/*.spec.ts",
        "packages/**/src/**/index.ts",
        "packages/teams-ai/src/internals/Colorize.ts"
    ],
    "reporter": ["html", "text", "lcov"],
    "all": true,
    "cache": true
}
