* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS
/js @corinagum @aacebo @lilyydu @singhk97

# .NET
/dotnet @singhk97 @swatDong @kuojianlu @lilyydu @corinagum @aacebo

# Python
/python @aacebo @blackchoey @lilyydu @singhk97

# TTK
**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs
