[submodule "teams.net"]
	path = teams.net
	url = https://github.com/microsoft/teams.net
	branch = main
[submodule "teams.ts"]
	path = teams.ts
	url = https://github.com/microsoft/teams.ts
	branch = main
[submodule "teams.py"]
	path = teams.py
	url = https://github.com/microsoft/teams.py
	branch = main
