# Auto generated during deployment
requirements.txt

.env

# Teams Toolkit
env/.env.*.user
env/.env.local
env/.env.*.dev
appPackage/build
.deployment

# pylance
**/__pycache__/

.cache/
.python-version