[project]
name = "teams-ai"
version = "1.8.0"
description = "SDK focused on building AI based applications for Microsoft Teams."
readme = "README.md"
authors = [{ name = "Microsoft", email = "teams@microsoft.com"}]
keywords = ["microsoft", "teams", "ai", "bot"]
requires-python = ">=3.9,<4.0"
dependencies = [
    "botbuilder-core (>=4.15.0,<5.0.0)",
    "botbuilder-integration-aiohttp (>=4.15.0,<5.0.0)",
    "botframework-connector (>=4.15.0,<5.0.0)",
    "tiktoken (>=0.7.0,<1.0.0)",
    "aiohttp (>=3.9.3,<4.0.0)",
    "jsonschema (>=4.21.1,<5.0.0)",
    "types-pyyaml (>=6.0.12.12,<7.0.0.0)",
    "pyyaml (>=6.0.1,<7.0.0)",
    "dataclasses-json (>=0.6.4,<1.0.0)",
    "azure-ai-contentsafety (>=1.0.0,<2.0.0)",
    "msal (>=1.28.0,<2.0.0)",
    "botbuilder-dialogs (>=4.14.8,<5.0.0)",
    "openai (>=v1.52.0,<v2.0.0)"
]

[project.urls]
repository = "https://github.com/microsoft/teams-ai"
documentation = "https://learn.microsoft.com/en-us/microsoftteams/platform/bots/how-to/teams%20conversational%20ai/teams-conversation-ai-overview"

[tool.poetry]
packages = [
    { include = "teams" },
    { include = "tests" }
]

[tool.poetry.group.dev.dependencies]
pytest = "^8.1.1"
pylint = "^3.1.0"
pytest-cov = "^5.0.0"
pytest-asyncio = "^0.21.1"
black = "24.3.0"
isort = "^5.12.0"
mypy = "^1.5.0"
httpx = "^0.26.0"

[project.scripts]
lint = "scripts:lint"
fmt = "scripts:fmt"
test = "scripts:test"
clean = "scripts:clean"
ci = "scripts:ci"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
preview = true
line-length = 100
target-version = ['py38']
enable-unstable-feature = ['string_processing', 'multiline_string_handling']

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
addopts = "-rx --cov-report html:coverage/html --cov-report lcov:coverage/lcov.info --cov=teams --verbose"
log_cli = true
log_cli_level = "INFO"

[tool.mypy]
python_version = "3.9"
ignore_missing_imports = true
show_error_codes = true
no_implicit_optional = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = "tests.*"
disable_error_code = ["var-annotated", "method-assign"]