#
# This workflow will build/test/lint the Python SDK.
#

name: Python Build/Test/Lint

on:
  workflow_call:
  push:
    branches: ['**']
    paths: ['python/**']
  pull_request:
    branches: ['**']
    paths: ['python/**']

permissions: read-all

jobs:
  build-test-lint:
    name: Build/Test/Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    defaults:
      run:
        working-directory: python/
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          python scripts/install.py
      - name: Check
        run: |
          python scripts/check.py
      - name: Build
        run: |
          python scripts/build.py
      - name: Test
        run: |
          python scripts/test.py
      - name: Lint
        run: |
          python scripts/lint.py
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit
